# Backend API
PORT=3000

# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=1234
DB_NAME=asoinca_control1

# JWT
JWT_SECRET=cambia_este_valor
JWT_EXPIRES=15m
REFRESH_SECRET=cambia_este_refresh
REFRESH_EXPIRES=7d

# Opcional: cola/redis para PDFs
REDIS_HOST=localhost
REDIS_PORT=6379
